<!doctype html>
<html lang='en' data-version='{{timestamp}}'>

<head>

	{{> base/meta}}

	<link inline rel='stylesheet' href='bundle.css' />

	{{> base/font}}

</head>

<body>

	{{> base/header }}

	<main id='content'>

		{{> story/intro }}

	</main>

	{{> base/footer }}


	<script src='{{basepath}}assets/scripts/d3.v6.0.0.min.js'></script>
	<script src="https://d3js.org/d3.v6.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script src="https://unpkg.com/intersection-observer@0.5.1/intersection-observer.js"></script>
	<script src="https://unpkg.com/scrollama"></script>
	<script src="{{basepath}}assets/scripts/stickyfill.min.js"></script>
	<script src='bundle.js?version={{timestamp}}' async></script>
</body>

</html>