/* CUSTOM STORY STYLE */
/* CSS Styles */

.txtscroll {
    height: 70px;  
    background-color:$red;
}

.txtscroll h1 {
  font-size: 2.2em;
  color: $off-black;
  font-family: $national;
  text-transform: uppercase;
  font-weight: 500;
  margin: 16;
  font-style: italic;
}

/* ---------------------- */
body {
    background-color: $bg;
}

.annotation {
    fill: $off-black;
    font-family: $national;
    font-size: 13px;
    text-anchor: middle;
    transform: translate(-45px, 6px)
}

.annotationButton {
    fill: $off-black;
    font-family: $national;
    font-size: 13px;
    text-anchor: middle;
    transform: translate(-45px, 15px)
}
.padded-dropcap {
    padding-left: 10px;
    padding-right: 10px;
    float: left;
    position: relative;
    top: -0.15em;
    margin-bottom: -0.5em;
    margin-left: -6px;
    margin-right: 2px;
    font-size: 100px;
    font-family: Georgia;
    color: $off-black;
  }

  #hoverGuide {
    font-size: 17px;
    fill: $off-black;
    font-weight: bold; 
    font-family: $national;
  }

  #hoverGuideLine {
      stroke: $off-black;
      stroke-width: 0.8px;
  }

  .txt-rotate {
    fill: $off-black;
  }
  
#tooltipText {
    font-family: $national;
    display: block;
}

.tooltipTL {
    font-family: $national;
    color: $off-black;
    background-color: $bg;
    border: 1.5px $off-black solid;
}

#tooltipTLleft {
    width: 220px;
    height: 120px;
    margin-left: 20;
    margin-right: 20;
    padding:20;
    text-transform: uppercase;
}

#tooltipTLmid{
    width: 220px;
    height: 120px;
    transform: translateY(30px);
    margin-left: 20;
    margin-right: 20;
    padding:20;
    text-transform: uppercase;
}

#tooltipTLright {
    width: 220px;
    height: 120px;
    margin-left: 20;
    margin-right: 20;
    padding:20;
    text-transform: uppercase;
}

.exampleheadlines {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 50;
}

#tooltipHeadline {
    top: 10px;
    left: 0px;
    padding: 5px;
    position:fixed;
    visibility: hidden;
    background-color: $bg;
}


#tooltipHeadline path {
    fill: none;
}

.forceText {
  font-weight: bold;
  font-family: $national;
  font-size: 8px;
  text-anchor: middle;
  fill: silver;
}

.forceCircles {
    fill: $bg;
    stroke: $off-black;
    stroke-width: 0.6px;
}

.themesText {
    font-weight: bold;
    font-family: $national;
    font-size: 14px;
    text-anchor: middle;
    fill: $off-black;
    }

.xAxis line, .yAxis line{
  stroke: silver;
}

.xAxis text {
  font-family: $national;
}

.xAxis path, .yAxis path {
  display: none;
}

#xAxisLabel {
    font-size: 17px;
    fill: $off-black;
    font-family: $national;
}

.axisLabel {
  font-weight: bold;
  font-family: $national;
}

h1 {
    font-family: Georgia;
    font-style: bold;
    color: $off-black;
    }

.title {
    margin-bottom: 30px;
    font-weight:900;
    font-size:150px;
    max-width: 1200px;
    text-align: center;
    font-family: $national;
    font-style: bold;
    text-transform: uppercase;
    color: $off-black;
    line-height: 39px;
}

.subTitleArt {
    font-weight:500;
    font-size:25px;
    opacity: 0.9;
    font-family: $national;
    text-transform: uppercase;
}

.creditLink{
    color: $off-black;
    text-transform: uppercase;
}

.credits {
    font-weight:500;
    font-size:14;
    opacity: 0.8;
    /* margin-bottom: 50px; */
    font-family: $national;
    color: $off-black;
    position:absolute;
}

.sectionHeader {
    font-family: $national;
    font-style: italic;
    font-weight: 900px;
    color: $off-black;
    max-width: 1000;
    text-anchor: middle;
    justify-content:left;
    text-transform: uppercase;
    }

h2 {
    font-family: Georgia;
    font-style: bold;
    color: $off-black;
    }

h4 {
  font-family: $tiempos;
  font-size: x-large;
  font-style: bold;
  color: $off-black
}

h5 {
  font-family: $tiempos;
  font-size:medium;
  font-weight: 600;
  text-align: center;
  margin-bottom: 0;
  color: $off-black;
}

.description {
  max-width: $column-width;
  text-align: justify;
  text-anchor: middle;
  color: $off-black;
  font-family: $tiempos;
  margin: 0 auto;
  padding: 1rem 0;
}

ul {
  max-width: $column-width;
  margin: 0 auto;
  padding-left: 1.5rem;
  list-style-type: disc;
}

.intro-questions {
  margin: 0 auto;
  padding: 1rem 0;
  font-family: $tiempos;
  font-style: italic;
}

.stackedChartDescription {
    max-width: 15vw;
    text-align: left;
    color: $off-black;
    font-family: $national;
    font-size: 16px;
    margin-bottom: 0;
    transform:translateY(150px)
}

.deets {
  font-family: $national;
  color: $red;
  font-size: 12px;
  font-weight: 900;
}

.exampleheadlines .headline {
  font-family: $national;
  font-size: 12px;
}

#stackedChartLegend {
    transform: translateY(100);
}

.subtitle {
  margin-top: 0;
  margin-bottom: 10;
  display: flex;
  justify-content: center;
}

.header {
  justify-content: center;
  display: flex;
  text-anchor: middle;
}

.titleArt {
  justify-content: center;
  display: flex;
  text-anchor: middle;
  margin-bottom: 100px;
  flex-direction: row;
}
.titlesep {
  width: 100%;
  border: 0.1px solid $off-black;
  transform: translate(0,32px);
  line-height: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.titleCredits {
  justify-content: center;
  vertical-align: middle;
  max-width: 200px;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 190px;
}

.dropOptions {
  font-family: $tiempos;
  font-size: x-large;
  font-weight: bold;
}

.buttons {
  justify-content: center;
  display: flex;
  margin-top: 50px;
}

button {
  border-color: $bg;
  background-color: $bg;
  color: $off-black;
  font-weight: 400px;
  border-style:solid;
  border-width: 1;
  padding: 0px 20px;
  margin-top: 5;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  font-family: $national;
  text-transform: uppercase;
}

#wordFreq {
    margin-top: 0;
    margin-bottom: 100
}

button:hover {
  background-color: $bg;
  color: $off-black;
}

button:focus {
  background-color: #F7DC5B    ;
  color: $off-black;
  font-weight: 900px;

  }

select::selection{
    background-color: #F7DC5B    ;
    color: $off-black;
    font-weight: 900px;
}

.flag {
    height:35px;
    text-anchor: middle;
    padding-right: 10px;
    transform: translateY(13px);
}

.country {
    display: flex;
    flex-direction: row
}

.search {
  text-align: center;
}

.legend circle {
  fill: none;
  stroke: $off-black;
}

.legendBubble {
  fill: none;
  stroke: $off-black;
  stroke-width: 0.8;
}

.legend text {
  fill: silver;
  font: 8px sans-serif;
  text-anchor: end;
}

.svg-container {
  display: inline-block;
  position: relative;
  width: 95%;
  padding-bottom: 40%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  vertical-align: top;
  overflow: hidden;
}

.svg-container2 {
  display: inline-block;
  position: relative;
  width: 95%;
  padding-bottom: 50%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  vertical-align: top;
  overflow: hidden;
}

.svg-content {
  display: inline-block;
  position: absolute;
  text-align: center;
  top: 50;
  left: 0;
}

#tooltipCluster {
    border: solid 1px $off-black;
    padding: 10px;
    /* change the tooltip so that its position can be moved around */
    position: fixed;
    /* hide it for when theres no hovering */
    display: block;
    /* background-color: white; */
    color:$off-black;            
}

#tooltipInfo {
  border: solid 1px $off-black;
  padding: 10px;
  max-width: 180px;
  text-align: justify;
  /* change the tooltip so that its position can be moved around */
  position: fixed;
  /* hide it for when theres no hovering */
  display: block;
  color: $off-black; 
  background-color: $bg;           
}

.clusterLegend {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.netbars {
  display: grid;
  grid-template-columns: 27vw 65vw; 
  grid-template-rows: 60vh 60vh 60vh 60vh;
  column-gap: 0vw;
  row-gap: 40vh;
  align-items: center;
  margin-top:30vh;
  margin-left:4vw;
  margin-right:4vw;
}

.barLegend {
  margin-top:20px;
  padding-bottom:10px
}

.barLegendText {
  font-size: 13px;
  font-family: $tiempos;
  fill:silver;
  text-anchor: start;
  text-align:left;
  opacity:0.9;
  font-weight: 800;
}

/* sticky axis for wavy chart */
#stickyXaxis {
  position: sticky;
  top: 0;
  background-color: $tan;
  fill: $off-black;
  color: $off-black;
  stroke-width: 1;
  font-weight: 800;
  font-size: 12
}

.wordText {
  text-anchor: end;
  fill: $off-black;
  font-weight: bold;
  font-size: 14px;
  font-family: $national;
  text-transform: uppercase
}


.timeRuler {
  z-index:10;
  position:fixed;
  stroke:$off-black;
  fill: none;
  stroke-width: 1;
  width: 20;
}

/* FIRST BAR CHART */

.container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction:row;
  justify-content: center;
}

.freqBars {
  width: 16vw;
  height:35vw
}

.movingHeadline{
  font-size: 20px;
  font-family: sans-serif
}

#hlAnimation {
    height: 15vh;
}

.barChart {
  text-anchor: start;
  text-align:left;
}

.yAxis text {
  font-family: $national;
  text-align: center;
  text-anchor: end;
  fill: silver;
  font-weight: bold;
}
    

span{
  font-family: sans-serif
}

/* method section */

.inputTitle {
  font-family: $national;
  font-size:14px;
  color: $off-black;
}

.methodDescription {
  max-width: $column-width;
  text-align: justify;
  text-anchor: middle;
  font-family: $national;
  font-size: small;
  margin: 0 auto;
  padding: 1rem 0;
  line-height: 1.1;
  text-align: justify;
  text-anchor: middle;
}

.methodSep {
  width: 45%;
  margin-left: auto;
  margin-right: auto;
  border: 0.1px solid;
  color:rgb(112, 112, 112)
}

.intextLink{
  color: $red;
  font-weight:500;
  text-decoration: underline;
}

/* Polarity Comparison bubble chart styling */
.polarityCompyAxis text {
  font-family: $national;
  text-align: left;
  text-anchor: end;
  fill: $off-black;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}

.polarityCompyAxis .domain {
    stroke:none;
}
  
.grid {
  stroke: lightgrey;
  stroke-width: 1px;
  shape-rendering: crispEdges;
}
  
.polarityCompBubbleLeft {
  fill: $off-black;
  stroke: $off-black;
  stroke-width: 2.5px;
  box-sizing: border-box;
}
  
.polarityCompBubbleRight {
  fill: $green;
  stroke: $off-black;
  stroke-width: 2.5px;
  box-sizing: border-box;
}
  
.polarityCompFemText {
  fill: $green;
  font-family: $national;
  font-weight: bold;
  font-size: 13px;
  text-anchor: middle;
  transform: translate(0,-40px);
}

.polarityDiffAnnotation {
  fill: $green;
  font-family: $national;
  font-weight: 400;
  font-size: 12px;
  text-anchor: left;
  transform: translate(20px, -10px);
}
  
.polarityCompAllText {
  fill: $off-black;
  font-family: $national;
  font-size: 13px;
  text-anchor: middle;
  transform: translate(0,-20px)
}
  
.polarityCompxAxisLabel {
  font-size: 12px;
  fill: $off-black;
  font-family: $national;
}
  
.polarityCompxAxis {
  display:none;
} 

.lollipop {
    transform: translate(-90px, 0);
}

/* dropdown */

.dropdownOptions {
  border-color:$off-black;
  background-color: $tan;
  border-width: 0.5;
  border-style: solid;
  font-size: 14px;
  text-transform: uppercase;
  padding: 5;
  margin: 10;
}

.dropdownOptions.active {
  background-color: $red;
}

.bubbleFilters {
  text-align: center;
  background-color: $tan;
  z-index: 1;
}

.scoreChartBar {
  stroke: $off-black;
  stroke-width: 0.5px;
}

.scoreChartTitle {
  margin-bottom: 30px;
  font-weight:500;
  transform: translateX(10px);
  font-size:10px;
  max-width: 10px;
  text-align: center;
  font-family: $national;
  font-style: bold;
  text-transform: uppercase;
  color: $off-black;
}

.scoreChartBarText {
    font-family: $national;
    font-size: 9px;
}

.stackedBarAnnotation {
  fill: $red;
  font-family: $national;
  font-weight: 900;
  font-size: 12px;
  text-anchor:end;
  text-transform: uppercase;
  transform: translate(100px, 5px)
}

.stackedBarTextAnnotation {
  color: $red;
  font-family: $national;
  font-weight: 900;
  font-size: 16px;
  text-transform: uppercase;
}

.lollipopTextbutton {
  color: $green;
  font-weight: 400px;
  font-family: $national;
  font-size: 18px;    
  text-transform: uppercase;
}

.stackedBarThemeAnnotation {
  font-family: $national;
  font-weight: 900;
  font-size: 16px;
  text-transform: uppercase;
}

#inTextViolence {
  color: $pink
}
#inTextBias {
  color: $green
}
#inTextEmpowerment {
  color: $yellow
}

.stackedBarTextAnnotation:hover {
  background-color: $red;
  color: $bg;
}

.lollipopTextbutton:hover {
  background-color: $green;
  color: $bg;
}

.lollipopTextbutton:focus {
  background-color: $green;
  color: $bg;
  font-weight: 900px;
}

#inTextViolence:hover {
  background-color: $pink;
  color: $bg
}

#inTextBias:hover {
  background-color: $green;
  color: $bg
}

#inTextEmpowerment:hover {
  background-color: $yellow;
  color: $bg;
}

.stackedBars {
  transform: translateX(10px)
}

.stackedChartCountries {
  margin-bottom:20px;
  margin-top:30px;
  transform: translate(10px, 80px);
  max-width: 13px;
  text-align: center;
  fill: $tan;
  z-index: 10    
}

.stackedChartTicks {
  font-weight:900px;
  font-size:12px;
  font-family: $national;
  /* font-style: bold; */
  text-transform: uppercase;
  fill: $off-black;
}

.stackedBarSection {
  display:flex;
  flex-direction: row;
  margin: auto;
  width: 60%;
}