/* CUSTOM STORY STYLE */
/* CSS Styles */

.txtscroll {
    height: 3rem;  
    background-color:$red;
    display: flex;
    align-items: center;
}

.txtscroll p {
  font-size: 1.25em;
  color: $off-black;
  font-family: $barlow;
  text-transform: uppercase;
  font-weight: 300;
  font-style: italic;
}

/* ---------------------- */
body {
    background-color: $bg;
}

.annotation {
    fill: $off-black;
    font-family: $barlow;
    font-weight: 400;
    font-size: 14px;
    text-anchor: middle;
    transform: translate(-45px, 6px)
}

.annotationButton {
    fill: $off-black;
    font-family: $barlow;
    font-weight: 400;
    font-size: 16px;
    margin: 0 1rem 0 0;
}
.padded-dropcap {
    padding: 1rem 1.25rem 1rem 1rem;
    float: left;
    position: relative;
    top: -0.1em;
    margin: 1rem 1.25rem -0.5rem 0.25rem;
    font-size: 64px;
    font-family: $barlow;
    color: $off-black;
    font-weight: 900;
    background-color: $pink;
    border 1px solid $off-black;
    transform: skew(-10deg, 0deg);
    line-height: 0.8;
  }

  #hoverGuide {
    font-size: 16px;
    fill: $off-black;
    font-weight: 600; 
    font-family: $barlow;
  }

  #hoverGuideLine {
      stroke: $off-black;
      stroke-width: 0.8px;
  }

  .txt-rotate {
    fill: $off-black;
  }
  
#tooltipText {
    font-family: $barlow;
    display: block;
    text-transform: uppercase;
    
}

.tooltipTL {
    font-family: $barlow;
    color: $off-black;
    background-color: $bg;
    border: 1px $off-black solid;
    border-top: 2px $off-black solid;
    margin: 1rem;
    padding: 1rem;
    width: 25%;
    max-height: 15rem;
}

.tooltipTemp {
    font-family: $barlow;
    color: $off-black;
    background-color: $bg;
    border: 1px $off-black solid;
    border-top: 2px $off-black solid;
    margin: 1rem;
    padding: 1rem;
    width: 16%;
    // max-height: 15rem;
    margin-left: 82%
}

.datettip {
    color:$red;
    text-transform: uppercase;
    font-size: 16px;
    font-family: $barlow;
    font-weight: 900
}

.tooltipTL:nth-child(2), .tooltipTL:nth-child(4) {
  margin-top: 4rem;
}

.exampleheadlines {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 50;
}

#tooltipHeadline {
    top: 10px;
    left: 0px;
    padding: 5px;
    color: $off-black;
    background-color: $bg;
    border: 1px $off-black solid;
    border-top: 2px $off-black solid;
    position:fixed;
    visibility: hidden;
    z-index:10
}


#tooltipHeadline path {
    fill: none;
}

.forceText {
  font-weight: bold;
  font-family: $national;
  font-size: 8px;
  text-anchor: middle;
  fill: silver;
}

.forceCircles {
    fill: $bg;
    stroke: $off-black;
    stroke-width: 1px;
    cursor: pointer;
}

.themesText {
    font-weight: 600;
    font-family: $barlow;
    font-size: 14px;
    text-anchor: middle;
    fill: $off-black;
    }

.xAxis line, .yAxis line{
  stroke: silver;
}

.xAxis text {
  font-family: $national;
}

.xAxis path, .yAxis path {
  display: none;
}

#xAxisLabel {
    font-size: 16px;
    fill: $off-black;
    font-family: $barlow;
    font-weight: 600;
}

.axisLabel {
  font-weight: bold;
  font-family: $national;
}

h1 {
    font-family: Georgia;
    font-style: bold;
    color: $off-black;
    }

.title {
    font-weight:900;
    font-size:150px;
    text-align: left;
    font-family: $barlow;
    text-transform: uppercase;
    color: $off-black;
    line-height: 1;
}

.title span {
    font-family: $barlow;
    font-weight:900;
    border-bottom: 1px solid $off-black;
    display: block;
    padding: 2rem 2rem 0 2rem;
    font-style: italic;
    line-height: 0.8;
}

.subTitleArt {
    font-weight:300;
    font-size:36px;
    opacity: 0.9;
    font-family: $barlow;
    max-width: 20rem;
    text-transform: uppercase;
}

.creditLink{
    color: $off-black;
    text-transform: uppercase;
    font-weight: 700;
}

.credits {
    font-weight:300;
    font-size:16;
    font-family: $barlow;
    color: $off-black;
}

.sectionHeader {
  font-family: $barlow;
  font-style: italic;
  font-weight: 900;
  color: $off-black;
  text-align: center;
  width: 100%;
  font-size: 48px;
  margin: 6rem auto 1rem auto;
  text-transform: uppercase;
  line-height: 0.8;
  border-bottom: 1px solid $off-black;
}

h2 {
    font-family: Georgia;
    font-style: bold;
    color: $off-black;
    }

h4 {
  font-family: $tiempos;
  font-size: x-large;
  font-style: bold;
  color: $off-black
}

h5 {
  font-family: $tiempos;
  font-size:medium;
  font-weight: 600;
  text-align: center;
  margin-bottom: 0;
  color: $off-black;
}

.description {
  max-width: $column-width;
  color: $off-black;
  font-family: $tiempos;
  margin: 0 auto;
  padding: 1rem 0;
  text-align: left;
}

ul {
  max-width: $column-width;
  margin: 0 auto;
  padding-left: 1.5rem;
  list-style-type: disc;
}

.intro-questions {
  margin: 0 auto;
  padding: 1rem 0;
  font-family: $tiempos;
  font-style: italic;
}

.stackedChartDescription {
    max-width: 24rem;
    text-align: left;
    color: $off-black;
    font-family: $barlow;
    font-size: 18px;
    line-height: 1.75;
}

.scrolltext {
  padding: 1rem 1rem 0 1rem;
  font-family: 'Tiempos Text Web';
  font-size: 18px;
  line-height: 1.75;
  text-align: left;
  margin-bottom: 0;
}

.deets {
  font-family: $barlow;
  color: $red;
  font-size: 14px;
  font-weight: 900;
  margin: 0;
  text-transform: uppercase
}

// .exampleheadlines .headline {
//   font-family: $barlow;
//   font-weight: 300;
//   font-size: 18px;
//   font-style: italic;
//   text-transform: uppercase;
// }

.headline {
  font-family: $barlow;
  font-weight: 300;
  font-size: 18px;
  font-style: italic;
  text-transform: uppercase;
}

#stackedLegend {
  display:flex;
  flex-direction: column;
  max-width: 210px;
  max-height: 30px;
  margin-top:20px;
  align-items: center
}

#stackedLegendText {
  // font-size:10px;
  max-width: 200px;
  font-family: $barlow;
  font-size: 14px;
  font-weight: 700
  }

#stackedLegendArrow {
  font-size:20px;
  max-width: 10px;
  margin-left:0.2rem;
  margin-right:0.5rem
  }

#stackedLegendrect {
  fill:#ccc;
  }

#stackedLegendsvg {
  max-width: 58px
  }
   

.subtitle {
  margin-top: 0;
  margin-bottom: 10;
  display: flex;
  justify-content: center;
}

.header {
  justify-content: center;
  display: flex;
  text-anchor: middle;
}

.titleArt {
  display: flex;
  flex-direction: row;
  margin-top: 2rem;
  height: 88.2vh;
  margin-bottom: 5rem
}

.titlewords {
  width: 70%;
  // height: 90vh;
  border-right: 1px solid $off-black;
}

.titlesep {
  width: 100%;
  border: 0.1px solid $off-black;
  transform: translate(0,32px);
  line-height: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.titleCredits {
  width: 30%;
  padding: 10rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: 1px solid $off-black;
}

.dropOptions {
  font-family: $tiempos;
  font-size: x-large;
  font-weight: bold;
}

.buttons {
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: 50px;
  // max-width: 65rem;
  width: 80%;
  margin-left: 5%;
  // margin-right:15vw
   // // text-align: right;
  // background-color: $tan;
  // // z-index: 1;
  // // display: flex;
  // flex-direction: row;
  // width: 70%;
}

button {
  border-color: $bg;
  background-color: $bg;
  color: $off-black;
  font-weight: 400px;
  border-style:solid;
  border-width: 1;
  padding: 0px 20px;
  margin-top: 5;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  font-family: $national;
  text-transform: uppercase;
}

#wordFreq {
    margin-top: 0;
    margin-bottom: 100
}

button:hover {
  background-color: $bg;
  color: $off-black;
}

button:focus {
  background-color: #F7DC5B    ;
  color: $off-black;
  font-weight: 900;

  }

.country:focus {
  font-weight: 700;
  }

select::selection{
    background-color: #F7DC5B    ;
    color: $off-black;
    font-weight: 900;
}

.flag {
    height:35px;
    text-anchor: middle;
    padding-right: 0px;
    max-width: 30%;
}

.country {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 1px solid $off-black;
    border-radius: 0.25rem;
    width: 14rem;
    margin: 0 0.5rem;
    padding: 0;
}

.country p {
  margin: 0;
  padding: 0;
  font-family: $barlow;
  font-size: 18px;
  // font-weight: 400;
}

.search {
  text-align: center;
}

.legend circle {
  fill: none;
  stroke: $off-black;
}

.legendBubble {
  fill: none;
  stroke: $off-black;
  stroke-width: 0.8;
}

.legend text {
  fill: silver;
  font: 8px sans-serif;
  text-anchor: end;
}

.svg-container {
  width: 100%;
  max-width: 60rem;
  padding: 0 1rem;
  height: 60vh;
}

.svg-content {
  display: inline-block;
  position: absolute;
  text-align: center;
  top: 50;
  left: 0;
}

#tooltipCluster {
    border: solid 1px $off-black;
    padding: 10px;
    /* change the tooltip so that its position can be moved around */
    position: fixed;
    /* hide it for when theres no hovering */
    display: block;
    /* background-color: white; */
    color:$off-black;            
}

#tooltipInfo {
  border: solid 1px $off-black;
  padding: 10px;
  max-width: 180px;
  text-align: justify;
  /* change the tooltip so that its position can be moved around */
  position: fixed;
  /* hide it for when theres no hovering */
  display: block;
  color: $off-black; 
  background-color: $bg;           
}

.clusterLegend {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.netbars {
  display: grid;
  grid-template-columns: 27vw 65vw; 
  grid-template-rows: 60vh 60vh 60vh 60vh;
  column-gap: 0vw;
  row-gap: 40vh;
  align-items: center;
  margin-top:30vh;
  margin-left:4vw;
  margin-right:4vw;
}

.barLegend {
  margin-top:20px;
  padding-bottom:10px
}

.barLegendText {
  font-size: 13px;
  font-family: $tiempos;
  fill:silver;
  text-anchor: start;
  text-align:left;
  opacity:0.9;
  font-weight: 800;
}

/* sticky axis for wavy chart */
#stickyXaxis {
  position: sticky;
  top: 0;
  background-color: $tan;
  fill: $off-black;
  color: $off-black;
  stroke-width: 1;
  font-weight: 800;
  font-size: 12
}

.axisThemeLegend {
  transform: translate(-25px, 85px);
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  // max-width: 100px;
  // margin-left: 5%;
  // width: 500px
}

.wordText {
  text-anchor: end;
  fill: $off-black;
  font-weight: 600;
  font-size: 16px;
  font-family: $barlow;
  text-transform: uppercase;
  cursor: pointer;
}

.SMCell {
  cursor: pointer;
}


.timeRuler {
  z-index:10;
  position:fixed;
  stroke:$off-black;
  fill: none;
  stroke-width: 1;
  width: 20;
}

/* FIRST BAR CHART */

.container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction:row;
  justify-content: center;
}

.freqBars {
  width: 16vw;
  height:35vw
}

.movingHeadline{
  font-size: 20px;
  font-family: sans-serif
}

#hlAnimation {
    height: 15vh;
}

.barChart {
  text-anchor: start;
  text-align:left;
}

.yAxis text {
  font-family: $national;
  text-align: center;
  text-anchor: end;
  fill: silver;
  font-weight: bold;
}
    

span{
  font-family: sans-serif
}

/* method section */

.inputTitle {
  font-family: $barlow;
  font-size:20px;
  font-weight: 600;
  color: $off-black;
  text-transform: uppercase;
}

.methodDescription {
  max-width: $column-width;
  font-family: $national;
  font-size: 14px;
  margin: 0 auto;
  padding: 1rem 0;
  line-height: 1.65;
  text-align: left;
}

.methodSep {
  width: $column-width;
  border: 1px solid $off-black;
  margin: 4rem auto 1rem auto;
}

.intextLink{
  color: $red;
  // font-weight:600;
}

/* Polarity Comparison bubble chart styling */
.polarityCompyAxis text {
  font-family: $barlow;
  text-align: left;
  text-anchor: end;
  fill: $off-black;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

.polarityCompyAxis .domain {
    stroke:none;
}
  
.grid {
  stroke: lightgrey;
  stroke-width: 1px;
  shape-rendering: crispEdges;
}
  
.polarityCompBubbleLeft {
  fill: $off-black;
  stroke: $off-black;
  stroke-width: 2.5px;
  box-sizing: border-box;
}
  
.polarityCompBubbleRight {
  fill: $green;
  stroke: $off-black;
  stroke-width: 2.5px;
  box-sizing: border-box;
}
  
.polarityCompFemText {
  fill: $green;
  font-family: $barlow;
  font-weight: 600;
  font-size: 14px;
  text-anchor: middle;
  transform: translate(0,-40px);
}

.polarityDiffAnnotation {
  fill: $green;
  font-family: $barlow;
  font-weight: 600;
  font-size: 14px;
  text-anchor: left;
  transform: translate(20px, -10px);
}
  
.polarityCompAllText {
  fill: $off-black;
  font-family: $barlow;
  font-size: 14px;
  text-anchor: middle;
  transform: translate(0,-20px)
}
  
.polarityCompxAxisLabel {
  font-size: 14px;
  fill: $off-black;
  font-family: $barlow;
}
  
.polarityCompxAxis {
  display:none;
} 

.lollipop {
    width: 100%;
    max-width: 60rem;
    padding: 0 1rem;
    margin: 0 auto;
}

#lollipopChart {
  width: 100%;
  height: 200vh;
}

/* dropdown */

.dropdownOptions {
  background-color: $tan;
  border: 1px solid $off-black;
  font-size: 18px;
  text-transform: uppercase;
  padding: 0.25rem;
  margin: 1rem 0.25rem;
  font-family: $barlow;
  font-weight: 400;
  border-radius: 0.25rem;
  cursor: pointer;
}

// .dropdownOptions:focus {
//   background-color: $yellow;
// }

// select:active {
//   background-color: $yellow;
// }

.bubbleFilters {
  text-align: right;
  background-color: $tan;
  z-index: 1;
  display: flex;
  flex-direction: row;
  width: 70%;
  justify-content: center;
  align-items: center;
}

.scoreChartBar {
  stroke: $off-black;
  stroke-width: 0.5px;
}

.scoreChartTitle {
  margin-bottom: 30px;
  font-weight:500;
  transform: translateX(10px);
  font-size:10px;
  max-width: 10px;
  text-align: center;
  font-family: $national;
  font-style: bold;
  text-transform: uppercase;
  color: $off-black;
}

.scoreChartBarText {
    font-family: $national;
    font-size: 9px;
}

// .stackedBarAnnotation {
//   fill: $red;
//   font-family: $national;
//   font-weight: 900;
//   font-size: 12px;
//   text-anchor:end;
//   text-transform: uppercase;
//   transform: translate(100px, 5px)
// }

// .stackedBarTextAnnotation {
//   color: $red;
//   font-family: $barlow;
//   font-weight: 600;
//   font-size: 16px;
//   text-transform: uppercase;
//   padding: 0.25rem 0.5rem;
//   border 1px solid $red;
//   white-space: nowrap;
//   border-radius: 0.25rem;
//   cursor: pointer;
// }

.lollipopTextbutton {
  color: $green;
  font-weight: 600;
  font-family: $barlow;
  font-size: 18px;    
  text-transform: uppercase;
  white-space: nowrap;
  border-radius: 0.25rem;
  border 1px solid $green;
}

// .stackedBarThemeAnnotation {
//   font-family: $barlow;
//   font-weight: 600;
//   font-size: 16px;
//   text-transform: uppercase;
//   padding: 0.25rem 0.5rem;
//   white-space: nowrap;
//   border-radius: 0.25rem;
//   cursor: pointer;
// }

#wordSearch {

  font-family: $barlow;
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
  padding: 0.25rem 0.5rem;
  white-space: nowrap;
  border-radius: 0.25rem;  
  border: 1px solid;
  background-color: $bg;
  }

#inTextViolence {
  color: $red;
  border: 1px solid $red;
}
#inTextBias {
  color: $green;
  border: 1px solid $green;
}
#inTextEmpowerment {
  color: $yellow;
  border: 1px solid $yellow;
}
#inTextPeople {
  color: $blue;
  border: 1px solid $blue;
}

#inTextRace {
  color: $pink;
  border: 1px solid $pink;
}

#inTextNT {
  color: grey;
  border: 1px solid grey;
}

.stackedBarTextAnnotation:hover {
  background-color: $red;
  color: $bg;
}

.lollipopTextbutton:hover {
  background-color: $green;
  color: $bg;
}

.lollipopTextbutton:focus {
  background-color: $green;
  color: $bg;
  font-weight: 900px;
}

#inTextViolence:hover, #inTextViolence.hovered {
  background-color: $red;
  color: $bg;
  font-family: $barlow;
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
  padding: 0.25rem 0.5rem;
  white-space: nowrap;
  border-radius: 0.25rem;
  cursor: pointer;
}

#inTextBias:hover, #inTextBias.hovered {
  background-color: $green;
  color: $bg;
  font-family: $barlow;
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
  padding: 0.25rem 0.5rem;
  white-space: nowrap;
  border-radius: 0.25rem;
  cursor: pointer;
}

#inTextEmpowerment:hover, #inTextEmpowerment.hovered {
  background-color: $yellow;
  color: $bg;
  font-family: $barlow;
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
  padding: 0.25rem 0.5rem;
  white-space: nowrap;
  border-radius: 0.25rem;
  cursor: pointer;
}

#inTextPeople:hover, #inTextPeople.hovered {
  background-color: $blue;
  color: $bg;
  font-family: $barlow;
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
  padding: 0.25rem 0.5rem;
  white-space: nowrap;
  border-radius: 0.25rem;
  cursor: pointer;
}

#inTextRace:hover, #inTextRace.hovered {
  background-color: $pink;
  color: $bg;
  font-family: $barlow;
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
  padding: 0.25rem 0.5rem;
  white-space: nowrap;
  border-radius: 0.25rem;
  cursor: pointer;
}

#inTextNT:hover, #inTextNT.hovered {
  background-color: grey;
  color: $bg;
  font-family: $barlow;
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
  padding: 0.25rem 0.5rem;
  white-space: nowrap;
  border-radius: 0.25rem;
  cursor: pointer;
}

// .stackedBars {
//   transform: translateX(10px)
// }

.stackedBars g {
  cursor: pointer
}

// .stackedChartCountries {
//   margin-bottom:20px;
//   margin-top:30px;
//   transform: translate(10px, 80px);
//   max-width: 13px;
//   text-align: center;
//   fill: $tan;
//   z-index: 10    
// }

// .stackedChartTicks {
//   font-weight:600;
//   font-size:14px;
//   font-family: $barlow;
//   text-transform: uppercase;
//   fill: $off-black;
// }

.stackedChartTicks-light {
  font-weight: 500;
  text-transform: none;
}

// .stackedBarSection {
//   display:flex;
//   flex-direction: row;
//   margin: 0 auto;
//   max-width: $double-width;
// }

/* STACKED CHART SCROLLY*/
#scrolly-side{
  width: 100%;
  max-width: 60rem;
  margin: 3rem auto;
  padding: 1rem;
  height: 2210vh;
}

.scrolly {
  width: 100%;
  position: relative;
}

.scrolly figure {
  position: sticky;
  top: 0;
  padding: 0 1rem;
  max-width: 40rem;
  margin-left: 24rem;
}

article {
  width: 24rem;
  max-width: 24rem;
  position: relative;
  margin: 0
}
  
.step {
  min-height: 110vh;
  margin-bottom: 1rem;
  transition: background-color 250ms ease-in-out;
  text-align: justify;
  color: #282828;
  font-family: $barlow;
  font-size: 16px;
  margin-bottom: 0;
  opacity: 0.6;
}

.step.is-active {
  opacity: 1;
}

.step-inner {
  background-color: #FEFAF1;
  padding-bottom: 1rem;
}3
.step:last-of-type {
  margin-bottom: 0;
  min-height:10vh
}
.step.is-active p {
  // background-color: #ffe5a7;
}


/* article > p {
  margin: 0;
  padding: 1rem;
  text-align: center;
  font-weight: 400;
  color: black;
}	 */

#stickyStackedChart.sticky {
  position: sticky;
  height: 200vh;
  margin: 0;
}

.stackedBarAnnotation {
  fill: $red;
  font-family: $national;
  font-weight: 900;
  font-size: 12px;
  text-anchor:end;
  text-transform: uppercase;
  transform: translate(100px, 5px)
}

.stackedBarTextAnnotation {
  color: $red;
  font-family: $barlow;
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
  padding: 0.25rem 0.5rem;
  border 1px solid $red;
  white-space: nowrap;
  border-radius: 0.25rem;
  cursor: pointer;
}

.stackedBarThemeAnnotation {
  font-family: $barlow;
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
  padding: 0.25rem 0.5rem;
  white-space: nowrap;
  border-radius: 0.25rem;
  cursor: pointer;
}

// #inTextViolence {
//   color: #F2C5D3
// }
// #inTextBias {
//   color: #0BBF99
// }
// #inTextEmpowerment {
//   color: #F7DC5B
// }

// .stackedBarTextAnnotation:hover {
//   background-color: #E75C33;
//   color: #FEFAF1;
  
// }

// #inTextViolence:hover {
//   background-color: #F2C5D3;
//   color: #FEFAF1
// }

// #inTextBias:hover {
//   background-color: #0BBF99;
//   color: #FEFAF1
// }

// #inTextEmpowerment:hover {
//   background-color: #F7DC5B;
//   color: #FEFAF1
// }

.stackedBars {
  transform: translateX(10px)
}

.stackedChartCountries {
  margin-bottom:20px;
  margin-top:30px;
  font-weight: 700;
  font-family: $barlow;
  transform: translate(10px, 80px);
  max-width: 13px;
  text-align: center;
  fill: #FEFAF1;
  z-index: 10
  
}

.stackedChartTicks {
  font-weight:700;
  font-size:12px;
  // font-family: Arial, Helvetica, sans-serif;
  /* font-style: bold; */
  text-transform: uppercase;
  fill: #282828;
}

.themesChartTicks {
  font-weight:900px;
  font-size:12px;
  font-family: Arial, Helvetica, sans-serif;
  /* font-style: bold; */
  text-transform: uppercase;
  fill: #282828;
}

.stackedChartyTicks {
  font-weight:900px;
  font-size:15px;
  font-family: Arial, Helvetica, sans-serif;
  /* font-style: bold; */
  text-transform: uppercase;
  fill: #282828;
}

.themesChartyTicks {
  font-weight:900px;
  font-size:15px;
  font-family: Arial, Helvetica, sans-serif;
  /* font-style: bold; */
  text-transform: uppercase;
  fill: #282828;
}

.spacer {
  height:55vh
}

#chartP svg, #chartB svg {
  width: 100%;
  height: 100%;
}

#smChart {
  width: 100%;
  height: 400vh;
  padding: 0 1rem;
  margin: 0 auto;
  max-width: 60rem;
}

.pudding-chart {
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 800px) {
  article {
    margin: 0 auto;
  }

  .scrolly figure {
    margin: 0 auto;
  }  
}